// make breakpoint names the same accross both style-components and scss

// js: Styles.media.max.m
// js: Styles.media.min.m

@mixin media_max($size_key) {
  $media_max_size_value: map-get($screen_sizes, $size_key);
  @media (min-width: $media_max_size_value) { @content ; }
}

@mixin media_min($size_key) {
  $media_min_size_value: map-get($screen_sizes, $size_key);
  @media (min-width: $media_min_size_value) { @content ; }
}

@mixin modifier($make, $color) {
  .#{$make} {
    border: 1px solid black;
  }
}


//@mixin flex-child($flex-grow: null) {
//  & > * {
//    @if ($flex-grow) { flex-grow: $flex-grow; }
//  }
//}
//
//@mixin flex-attributes($flex-direction: null, $align-items: null, $justify-content: null) {
//  @if ($flex-direction) { flex-direction: $flex-direction; }
//  @if ($align-items) { align-items: $align-items; }
//  @if ($justify-content) { justify-content: $justify-content; }
//
//  //@if ( content-exists() ) {
//  //  & > * {
//  //    @content;
//  //  }
//  //}
//}
//
//@mixin flex($flex-direction: null, $align-items: null, $justify-content: null) {
//  display: flex;
//  @include flex-attributes($flex-direction, $align-items, $justify-content);
//
//  //@if ( content-exists() ) {
//  //  & > * {
//  //    @content;
//  //  }
//  //}
//}




