<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css file built via sass and compiled into index.html via htmlWebpackPlugin -->
        <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.css %>">

        <!-- Allow installing the app to the homescreen -->
        <link rel="manifest" href="/manifest.json">
        <meta name="mobile-web-app-capable" content="yes">

        <!-- iOS home screen icons -->
        <meta name="apple-mobile-web-app-title" content="react boilerplate">
        <link rel="apple-touch-icon" sizes="120x120" href="/icon-120x120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icon-180x180.png">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>

        <noscript>
            <p>?? No Javascript ??</p>
            <p><strong>!! COME ON !!</strong></p>
            <p> - - Please enable Javascript to gain super powers - - </p>
        </noscript>

        <div id="app"></div>
    </body>
</html>